*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#0f172a;
    color:white;
}

header{
    background:#1e293b;
    padding:15px 8%;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h2{
    color:#38bdf8;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
}

nav ul li a:hover{
    color:#38bdf8;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 8%;
    flex-wrap:wrap;
}

.hero-text{
    flex:1;
}

.hero-text h1{
    font-size:45px;
}

.hero-text p{
    margin:20px 0;
    font-size:18px;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:8px;
}

.btn:hover{
    background:#0284c7;
}



section{
    padding:70px 8%;
}

h2{
    text-align:center;
    margin-bottom:30px;
    color:#38bdf8;
}

.about-content{
    display:flex;
    gap:30px;
    align-items:center;
    flex-wrap:wrap;
}



.skill-box,
.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card,
.project-card{
    background:#1e293b;
    padding:20px;
    text-align:center;
    border-radius:12px;
}


form{
    max-width:600px;
    margin:auto;
}

form input,
form textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:8px;
}

form button{
    width:100%;
    padding:12px;
    background:#38bdf8;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

form button:hover{
    background:#0284c7;
}

footer{
    text-align:center;
    background:#1e293b;
    padding:20px;
    margin-top:40px;
}

@media(max-width:768px){

.hero{
    flex-direction:column;
    text-align:center;
}

.hero-image img{
    margin-top:30px;
    width:250px;
}

.about-content{
    flex-direction:column;
}

nav{
    flex-direction:column;
}

nav ul{
    margin-top:10px;
    flex-wrap:wrap;
    justify-content:center;
}
}